<!--load static es para cargar archivos estaticos que tengas-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--ESTE ARCHIVO BASE ES COMO LA PLANTILLA ESTO SE BASA EN EL DRY-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Blog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Tangerine:wght@700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="https://kit.fontawesome.com/791d86d5d9.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page-header">
        <h1><a href="/">My Incredible blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>