<!--Llamamos a la "plantilla"-->
{% extends 'blog/base.html' %}
{% load markdownify %}

{% block title %}
{{post.title}}
{% endblock %}
<!--empezamos el block content y lo cerramos donde queramos que termine
y dde aqui sera "enviado" y tranformado-->

{% block content %}
<div class="post">

    {% if post.published_date %}
    <div class="date">
        {{post.published_date}}
    </div>
    {% endif %}
    <!--Este if else pregtunta si el post ya ha sido publicado o no y muestra 
    el boton-->
    {% if user.is_superuser or user.is_staff %}
    {% if not post.published_date %}
    <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish</a>
    {% endif %}
    {% endif %}
    {% if user.is_superuser or user.is_staff %}
    <a href="{% url 'post_edit' pk=post.pk %}" class="btn"><i class="fas fa-edit fa-2x" style="color:#339af0"></i></a>

    <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger"
        onclick="return confirm('Are you sure you want to delete this post?')"><i class="fas fa-eraser"></i></a>
    {% endif %}
    {% if not user.is_superuser or not user.is_staff%}
    {% if not post.published_date %}
    <h6>Your post is waiting for some staff user to be approved</h6>
    {% endif %}
    {% endif %}
    <h1>{{post.title}}</h1>
    <p>{{post.text|markdown|safe|linebreaksbr}}</p>
</div>
<hr>
{% if post.published_date %}
<a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-secondary">Add comment</a>
{% for comment in post.comments.all %}
{% if user.is_superuser or comment.approved %}
<div class="comment">
    <div class="date">
        {{comment.created_date}}
    </div>
    {% if not comment.approved and user.is_superuser %}
    <a href="{% url 'comment_approve' pk=comment.pk %}" class="btn"><i class="far fa-check-square"></i></a>
    <a href="{% url 'comment_remove' pk=comment.pk %}" class="btn"><i class="far fa-trash-alt"></i></a>
    {% endif %}
    <strong>{{comment.author}}</strong>
    <p>{{comment.text|markdown|safe}}</p>
</div>
{% endif %}
{% empty %}
<p>No comments yet...</p>

{% endfor %}
{% endif %}
{% endblock %}