<!--Llamamos a la "plantilla"-->
{% extends 'blog/base.html' %}

{% block title %}
{{post.title}}
{% endblock %}
<!--empezamos el block content y lo cerramos donde queramos que termine
y dde aqui sera "enviado" y tranformado-->

{% block content %}
<div class="post">

    {% if post.published_date %}
    <div class="date">
        {{post.published_date}}
    </div>
    <!--Este if else pregtunta si el post ya ha sido publicado o no y muestra 
    el boton-->
    {% else %}
    <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish</a>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-edit fa-2x" style="color:#339af0"></i></a>
    {% endif %}
    <h1>{{post.title}}</h1>
    <p>{{post.text|linebreaksbr}}</p>
</div>


{% endblock %}